<% if message.sender_id == current_user.id %>
  <div id="message_<%= message.id %>" class="message-container sender">
    <div class="overlay" data-chat-target="overlay" id="overlay_<%= message.id %>">
      <%= render "edit", message: message %>
    </div>
    <div class="more-options-message">
      <button class="more-options-message-button">...</button>
      <ul class="more-options">
        <li class="item-option" data-chat-target="editMessage" data-message-id="<%= message.id %>" data-action="click->chat#openOverlay">
          Edit
        </li>
        <li class="item-option">
          <%= link_to "Delete", user_message_path(params[:user_id], message.id), data: { turbo_method: :delete, turbo_confirm: "You sure?" } %>
        </li>
      </ul>
    </div>
    <span class="message sender">
      <%= message.content %>
    </span>
  </div>
<% else %>
  <div id="message_<%= message.id %>" class="message-container">
    <span class="message">
      <%= message.content %>
    </span>
  </div>
<% end %>

