<div id="messages" class="messages-index" data-controller="chat"
     data-current-user-id="<%= current_user.id %>"
     data-recipient-user-id="<%= params[:user_id] %>"
>
  <div class="header">
    <%= render 'friends', user: @recipient %>
  </div>
  <div class="messages-container">
    <h2 data-chat-target="noMessage"
      class="<%= @messages.size > 0 ? "hidden" : "" %>"
    >
      Don't have any messages
    </h2>
    <div id="messages-container" data-chat-target="messagesContainer">
      <% @messages.each do |message| %>
        <%= render "message", message: message %>
      <% end %>
    </div>
  </div>
  <%= render "message_form" %>
</div>

