<%= turbo_frame_tag("comments_#{micropost.id}") do %>
  <div class="comment-container" id="comment-<%= micropost.id %>" data-controller="comment">
    <div class="comment-body">
      <span class="user">
      <%= link_to micropost.user.name, micropost.user %>
    </span>
      <span class="timestamp">
      At <%= time_ago_in_words(micropost.created_at) %> ago.
    </span>
      <p class="content micropost-content">
        <%= micropost.content %>
      </p>
    </div>
    <div class="comment-bottom">
      <div class="left flex">
        <div class="flex">
          <button class="reply-btn" id="love-btn">
            Love
          </button>
          <div class="react-comment-container">
            <%= button_to micropost_react_path(micropost.id),
                          params: {reaction_type: :love},
                          class: "reaction-icon love" do %>
              <i class="fa-regular fa-face-grin-hearts"></i>
            <% end %>
            <%= button_to micropost_react_path(micropost.id),
                          params: {reaction_type: :sad},
                          class: "reaction-icon love" do %>
              <i class="fa-regular fa-face-frown"></i>
            <% end %>
            <%= button_to micropost_react_path(micropost.id),
                          params: {reaction_type: :angry},
                          class: "reaction-icon love" do %>
              <i class="fa-regular fa-face-angry"></i>
            <% end %>
          </div>
        </div>
        <button class="reply-btn" data-comment-target="replyButton" data-action="click->comment#reply_toggle">
          Reply
        </button>
      </div>
      <div class="right">
        <div class="flex">
          <% if micropost.reactions.reaction_type_love.count > 0%>
            <div class="reaction-stats love" >
              <i class="fa-regular fa-face-grin-hearts"></i>
              <span><%= micropost.reactions.reaction_type_love.count %></span>
            </div>
          <% end %>
          <% if micropost.reactions.reaction_type_sad.count > 0 %>
            <div class="reaction-stats sad" >
              <i class="fa-regular fa-face-frown"></i>
              <span><%= micropost.reactions.reaction_type_sad.count %></span>
            </div>
          <% end %>
          <% if micropost.reactions.reaction_type_angry.count > 0 %>
            <div class="reaction-stats angry" >
              <i class="fa-regular fa-face-angry"></i>
              <span><%= micropost.reactions.reaction_type_angry.count %></span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div>
      <% if micropost.comments.size > 0 %>
        <button class="reply-btn" data-comment-target="repliesButton" data-action="click->comment#show_replies">
          Hide <%= micropost.comments.size %> replies
        </button>
      <% end %>
    </div>
    <div class="reply-container-form" data-comment-target="replyForm">
      <%= render "shared/reply_form", micropost: micropost %>
    </div>
    <div class="replies-container" data-comment-target="replies">
      <div id="microposts">
        <% micropost.comments.each do |comment| %>
          <%= render "shared/reply", micropost: comment %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
