<%= turbo_frame_tag("comments_#{micropost.id}") do %>
  <div id="comment-<%= micropost.id %>" style="margin: 20px 0" data-controller="comment">
    <div class="comment-body">
      <span class="user">
      <%= link_to micropost.user.name, micropost.user %>
    </span>
      <span class="timestamp" style="float: right">
      At <%= time_ago_in_words(micropost.created_at) %> ago.
    </span>
      <p class="content micropost-content">
        <%= micropost.content %>
      </p>
    </div>
    <div class="comment-bottom">
      <div class="left" style="display: flex">
        <div style="display: flex">
          <button class="reply-btn" id="love-btn">
            Love
          </button>
          <div class="react-comment-container">
            <button class="react-comment love" style="">
              <i class="fa-regular fa-face-grin-hearts"></i>
            </button>
            <button class="react-comment sad" >
              <i class="fa-regular fa-face-frown"></i>
            </button>
            <button class="react-comment angry" >
              <i class="fa-regular fa-face-angry"></i>
            </button>
          </div>
        </div>
        <button class="reply-btn" data-comment-target="replyButton" data-action="click->comment#reply_toggle">
          Reply
        </button>
      </div>
      <div class="right">
        <div style="display: flex">
          <% if Random.rand(10) > 2 %>
            <div class="reaction-stats love" style="">
              <i class="fa-regular fa-face-grin-hearts"></i>
              <span><%= Random.rand(10) %></span>
            </div>
          <% end %>
          <% if Random.rand(10) > 2 %>
            <div class="reaction-stats sad" >
              <i class="fa-regular fa-face-frown"></i>
              <span><%= Random.rand(10) %></span>
            </div>
          <% end %>
          <% if Random.rand(10) > 2 %>
            <div class="reaction-stats angry" >
              <i class="fa-regular fa-face-angry"></i>
              <span><%= Random.rand(10) %></span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div>
      <% if micropost.comments.size > 0 %>
        <button class="reply-btn" data-comment-target="repliesButton" data-action="click->comment#show_replies">
          Hide <%= micropost.comments.size %> replies
        </button>
      <% else %>
    </div>
    <% end %>
    <div style="margin: 20px; display: none" class="reply-container-form" data-comment-target="replyForm">
      <%= render "shared/reply_form", micropost: micropost %>
    </div>
    <div style="margin: 20px" data-comment-target="replies">
      <div id="microposts">
        <% micropost.comments.each do |comment| %>
          <%= render "shared/reply", micropost: comment %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
