<%= form_with(model: @micropost,
              url: micropost_comments_url(@micropost),
              method: :post, class: 'comment-form', id: 'comment-form') do |f| %>
  <div class="field comment-input comment-box" style="width: 100%">
    <%= f.text_area :content, value: "",
                    class: "comment-input input-comment-reply", id: "input-comment",
                    placeholder: "Comment here..."
    %>
    <div class="button-container">
      <%= f.submit "Comment", class: "comment-button", id: "button-submit" %>
    </div>
  </div>
  <div>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
  </div>
<% end %>

