<div style="margin-top: 60px" >
  <div style="display: flex; justify-content: space-between">
    <span class="user">
      Author: <%= link_to micropost.user.name, micropost.user %>
    </span>
      <span class="micropost-content">
      <% if current_user?(micropost.user) %>
        <%= link_to "delete post", micropost, data: {turbo_method: :delete,  turbo_confirm: "You sure?" } %>
      <% end %>
    </span>
  </div>
  <div
    class="micropost-body"
  >
    <p class="content micropost-content">
      <%= micropost.content %>
    </p>
    <div >
      <%= image_tag micropost.image if micropost.image.attached? %>
    </div>
    <p align="right" class="timestamp">
      Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    </p>
  </div>
  <div class="reactions-stats">
    <div style="display: flex">
      <div class="reaction-stats love" style="">
        <i class="fa-regular fa-face-grin-hearts"></i>
        <span>1</span>
      </div>
      <div class="reaction-stats sad" >
        <i class="fa-regular fa-face-frown"></i>
        <span>2</span>
      </div>
      <div class="reaction-stats angry" >
        <i class="fa-regular fa-face-angry"></i>
        <span>3</span>
      </div>
    </div>
    <div class="comment-stats">
      <%= micropost.comments.count %>
      comments
    </div>
  </div>
  <div class="reactions">
    <%= button_to microposts_path, class: "reaction-icon love" do %>
      <i class="fa-regular fa-face-grin-hearts"></i>
      <span>Love</span>
    <% end %>
    <%= button_to microposts_path, class: "reaction-icon love" do %>
      <i class="fa-regular fa-face-frown"></i>
      <span>Sad</span>
    <% end %>
    <%= button_to microposts_path, class: "reaction-icon love" do %>
      <i class="fa-regular fa-face-angry"></i>
      <span>Angry</span>
    <% end %>
  </div>
  <div style="margin: 40px 20px">
    <%= render "shared/comment_form" %>
  </div>
  <div style="margin: 20px">
    <div id="microposts">
      <div id="microposts_<%= micropost.id %>"></div>
      <% micropost.comments.each do |comment| %>
        <%= render "shared/comment", micropost: comment %>
      <% end %>
    </div>
  </div>
</div>


<script type="text/javascript">
    document.addEventListener("turbo:load", function() {
        initializeCommentForm();
    });
    function initializeCommentForm() {
        let form = document.getElementById("comment-form");
        let textarea = document.getElementById("input-comment");
        if (form && textarea) {
            form.addEventListener("turbo:submit-end", (event) => {
                if (event.detail.success) {
                    textarea.value = ''
                }
            });
        }
    }
</script>

