<p style="color: green"><%= notice %></p>

  <%= render "micropost_show", micropost: @micropost %>

<div>
  <% if current_user?(@micropost) %>
    <%= link_to "Edit this micropost", edit_micropost_path(@micropost) %> |
    <%= link_to "Back to microposts", microposts_path %>

    <%= button_to "Destroy this micropost", @micropost, method: :delete %>
  <% end %>
</div>
